body {
  padding: 20px;
}

ul {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 40px;
}
li {
  margin-bottom: 20px;
}

button {
  font-size: 24px;
  padding: 20px;
  width: 250px;
}

p {
  position: relative;
  margin-left: 290px;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}