doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title PoseNet Cursor
  link(rel='stylesheet' href='css/main.styl')
  //- Reduce build time
  script(src='lib/babylon.min.js')
  script(src='lib/babylon.loaders.min.js')

aside
  .panel.full-height
    .panel-header
      h2.panel-title PoseNet Cursor
    .panel-body
      canvas#scene(width=640 height=480)
      canvas#overlay(width=640 height=480)
    .panel-body
      b Training Set Parameters
      .form-group
        label.form-label(for='sample-size') Sample Size
        input#sample-size.form-input(value=100 placeholder='Number of samples to collect')
    .panel-footer
      p.btn-group.btn-group-block
        button#start-posenet.btn.btn-primary Start PoseNet
        button#create-data.btn.btn-primary(disabled) Create Data
      p.btn-group.btn-group-block
        button#save-to-localhost.btn.btn-primary(disabled) Save to localStorage
        button#save-to-file.btn.btn-primary(disabled) Save to File

article
  .panel.full-height
    .panel-header
      h2.panel-title Training Set
    .panel-body
      .container.full-height
        .columns
          .column.col-6
            label.form-label(for='training-features') Features <small>(first 3)</small>
            textarea#training-features.form-input(rows='10')
          .column.col-6
            label.form-label(for='training-labels') Labels <small>(first 3)</small>
            textarea#training-labels.form-input(rows='10')
        .columns
          .column.col-12
            #chart
    .panel-footer
      p.btn-group.btn-group-block
        button#start-training.btn.btn-primary(disabled) Start Training

script(src='js/ui.js')
script(src='js/model.js')